@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}

body{
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);


}

main{
    background-color: white;
    width: 700px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000098;
}

h1{
    color: #642645;
    text-align: center;
    text-shadow: 1px 1px 2px #f1afaf;
    text-decoration: underline;
}

h2{
    color: #FF504F;
}
